<div class="row">
  <div class="col-md-12 col-md-offset-10">
    <%= text_field_tag 'search', '', placeholder: 'search..' %>
  </div>
  <div class="col-md-12">
    <table class="table table-striped">
      <thead class="member-header">
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Amount</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody id="expense_list">
        <%= render partial: 'expense_list' %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $('#search').on('keyup',function(){
    search_val = $(this).val();
    console.log(search_val)
    $.ajax({
      type: "GET",
      url: "/search",
      data: { search: search_val }
    })
  })
</script>
