<div class="col-md-12">
  <table class="table table-striped">
    <thead class="member-header">
      <tr>
        <th>No</th>
        <th>Amount</th>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody id="expense_list">
      <%= render partial: 'rent_list' %>
    </tbody>
  </table>
</div>